* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 20px;
  background-image: url("Vector_2640.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.box {
  position: relative;
  .inside-box {
    border-radius: 3px;
    box-shadow: 3px 3px 20px #0741c2;
    background-color: #dcdcdc;
    height: 250px;
    width: 550px;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 50%);
    .header-text {
      //background-color: red;
      display: flex;
      h2 {
        margin: auto;
        padding-top: 10px;
        font-size: 40px;
        padding-bottom: 120px;
      }
    }
    .button {
      display: flex;
      transition: all;
      .btn {
        transition: all;
        background-color: #021c57;
        border-radius: 20px;
        margin: auto;
        outline: none;
        border: none;
        color: #ffffff;
        font-weight: bold;
        padding: 10px 25px;

      }
      .btn:hover {
        transition: all .1s;
        background-color: #127506;
      }

    }

  }
}
.box-2 {
  position: relative;
  .outside-box {
    border-radius: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: #1e1e1e;
    height: 250px;
    width: 550px;
    h2 {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, 10%);
      color: white;
    }
    .btn-close {
      float: right;
      padding: 10px;
      color: black;
      font-size: 20px;
      font-weight: bolder;
      border: none;
      outline: none;
    }
    .btn-close:hover {
      transition: all .1s;
      color: white;
      background-color: #021d59;
    }
  }
}


